* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    color: #828FA3;
}

*::-webkit-scrollbar-track,
*::-webkit-scrollbar-corner {
    background-color: #20212C;
}
